body {
  box-sizing: border-box;
  background-color: rgb(208, 225, 176);
  border: 2px darkgray;
}


.mainBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(208, 225, 176);
  border: 2px rgb(196, 212, 122);
} 

.main {
  background-color: rgb(237, 237, 216);
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  justify-content: center;
}

.input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid beige;
  border-radius: 5px;
  font-size: 16px;
}

.inputBtn {
  width: 85%;
  padding: 10px;
  background-color: rgb(193, 193, 172);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 16px;
}

.inputBtn:hover {
  background-color: rgb(137, 203, 137);
}

.deleteBtn {
  width: auto; 
  padding: 5px 10px;
  background-color: rgb(152, 152, 129);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px; 


}
.deleteBtn:hover {
  background-color: #d691a0;
}

.todo-item{
  display: flex;
  position: relative;
  align-items: center;
  border: 2px solid rgba(45, 45, 50, 0.048);
  width: 300px;
  height: 40px;
  color: black;
  background-color: rgb(202, 202, 184);
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 22px;
}
.todo-text{
  flex-grow: 1; 
  text-align: center;
}