div {
  box-sizing: border-box;
}

.list {
  text-align: left;
  padding: auto;
  border-bottom: 1px solid gray;
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eeee;
  text-align: left;
}

.intro {
  background-color: aquamarine;
}

button {
  background-color: #4caf50; /* 초록색 배경 */
  border: none; /* 테두리 없음 */
  color: white; /* 글자 색상 */

  text-align: center; /* 텍스트 중앙 정렬 */
  text-decoration: none; /* 밑줄 없음 */
  display: inline-block; /* 인라인 블록으로 설정 */
  font-size: 16px; /* 글자 크기 */
  margin: 4px 2px; /* 여백 설정 */
  transition-duration: 0.4s; /* 변환 효과 시간 */
  cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
  border-radius: 8px; /* 모서리 둥글게 */
}
